/* App */
.app{
    width: 98vw;
    overflow-x: hidden;
}
/* Header */
.header-comp{
    display:flex;
    justify-content:space-between;
    height: 80px;
    align-items:center;
    margin: 10px 5px;
    border: 1px solid grey;
    padding: 0px 10px;
}
.header-right ul{
    display:flex;
}
.header-right ul li{
    margin: 10px;
    list-style-type: none;
}

/* Body */


/* Footer */


/* Search */
.search-comp{
    display:flex;
    justify-content:center;
    margin: 30px;
}

/* Card Container */
.cardContainer-comp{
    width: 98vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Card */
.card{
    width:250px;
    height: 250px;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
    display: inline-block; /* Add this line */
}
